<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="{{url_for('static', path='index.min.css')}}" rel="stylesheet">
  </head>
  <body class="body-tag">
    <div class="page-content">
      {% block content %}{% endblock %}
    </div>

    <script defer src="{{url_for('static', path='index.min.js')}}"></script>
  </body>
</html>
