@use 'global-colors' as colors;
@use 'global-vars' as vars;

.app-header {
  backdrop-filter: blur(5px);
  background: rgba(colors.$header-bk-color, 0.5);
  width: 100%;
  z-index: 1000;
  
  .header-logo {
    align-items: center;
    display: flex;
    height: 64px;
    margin-left: 6px;
    width: fit-content;

    .header-logo-link {
      align-items: center;
      color: colors.$product-title-color;
      display: flex;
      font: 600 21px/20px vars.$font-cinzel;
      height: 48px;
      margin-left: 7px;
      text-decoration: none;
      width: fit-content;

      .header-logo-container {
        align-items: center;
        column-gap: 15px;
        display: flex;
        padding: 0 7px;
      }
    }
  }
}